{% extends "wagtailadmin/base.html" %}
{% load static capagg_tags %}

{% block branding_logo %}
    <figure class="capagg-logo">
        <img src="{% static 'images/cap-agg-logo.png' %}" alt="CAP Aggregator">
    </figure>

    <div style="color:#ababab; font-size: 12px; padding-top:1em; font-weight:600">
        <a href="https://github.com/wmo-raf/cap-aggregator" target="_blank" style="color:#fff; text-decoration:none">
            v{% capagg_version %}
        </a>
    </div>

    <style>

        .capagg-logo {
            color: #fff;
            max-height: 100px;
            max-width: 120px;
            padding: 8px;
        }

    </style>


{% endblock %}


